/* ======================================================
   Archivo: estilos.css
   Descripción: Estilos visuales para el canvas
   ====================================================== */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Corregido: faltaba vh */
    background-color: #0ce9d711;
}

#lienzo {
    background-color: #C19A6B; /* Café claro */
    border: 4px solid #4B2E19; /* Café oscuro */
    border-radius: 25px;      /* Esquinas redondeadas */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4); /* Sombra */
}
